*{
    padding: 0;
    margin: 0%;
    font-family: 'Outfit', sans-serif;
}

/* CSS da barra de navegação */

header{
    background: hsl(220, 15%, 55%);
}

.container-header{
    padding: 30px 0;
    width: 940px;
    margin: 0 auto;
}

.nav-header{
padding-top: 0;
padding-bottom: 0;
}

header li{
    display: inline;
    margin: 0 0 0 15px;
}

header nav a {
    text-transform: uppercase;
    color:black;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:white;
    text-decoration: underline;
}

/* Section button*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(220, 15%, 55%);
    padding: 40px;
}

.button{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: #ffffff;
}

.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #053742;
    transition: left 1s;
}
.ball-move{
    left: calc(100% - 40px);
}

.dark header{
    background-color: black;
    color: #ffffff;

}

.dark section{
    background-color: black;
}

.dark .qr-code{
    background-color: black;
}


/* CSS do QR Code */

.qr-code{
    background-color: hsl(220, 15%, 55%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.box{
    
    background-color:#fff;;
    padding: 18px;
    border-radius: 10px;
}

.imagem{
    width: 100%;
}

.text{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

.text h2{
    font-weight: bold;
}

.text p{
    color: hsl(220, 15%, 55%);
}