*{
    padding: 0;
    margin: 0%;
    font-family: 'Outfit', sans-serif;
}

/* CSS da barra de navegação */

header{
    background: #BBBBBB;
}

.container-header{
    padding: 30px 0;
    width: 940px;
    margin: 0 auto;
}

.nav-header{
padding-top: 0;
padding-bottom: 0;
}

header li{
    display: inline;
    margin: 0 0 0 15px;
}

header nav a {
    text-transform: uppercase;
    color:black;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:white;
    text-decoration: underline;
}