.s-projects {
    padding: 40px 0 100px 0;
}

.title-projects {
    text-align: center;
    padding-bottom: 24px;
    font-size: 4rem;
    font-weight: 500;
    color: #fafafa;
}

.container-projects {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
    padding: 0 20px;
}

.row-1, .row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.cards-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 343px;
    height: 425px;
    border-radius: 8px;
    border: 1px solid #171717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    background-color: #222222;
    color: #fafafa;
    text-decoration: none;
}

.cards-project img {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 50%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-info {
    padding: 10px 5px 0 3px;
}

.project-info h4 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #078810;
}

.project-info p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btns-project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.btns-project a {
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}

.btns-project a:hover {
    opacity: 0.8;
}

.view-live {
    background-color: #078810;
    border: 1px solid #078810;
    color: #000;
}

.github-repo {
    background-color: #212121;
    border: 1px solid #078810;
    color: #fafafa;
}



.embreve {
    text-align: center;
    margin: auto; 
}

.embreve p {
    font-size: 3rem;
    color: #fafafa;
}

.show-more {
    display: block;
    margin: 150px auto 0 auto;
    padding: 10px 60px;
    border-radius: 6px;
    border: 1px solid #fff;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 550;
    background-color: #171717;
    color: #078810;
    outline: none;
}

.show-more:hover {
    filter: brightness(0.90)
}

.my-repositories {
    margin-left: 8%;
    color: #fff;
}

.