* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 65%;
}

body {
    background-color: #171717;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: #171717;
}
  
::-webkit-scrollbar-thumb {
    background-color: #078810;
    border-radius: 10px;
}

main {
    margin-top: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 160px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fafafa;
    transition: 0.2s;
}

footer a img {
    width: 60px;
    margin-left: 2px;
}

footer a:hover {
    transform: scale(1.08);
}

.