*{
    padding: 0;
    margin: 0;
}

/* CSS da barra de navegação */

header{
    background: #BBBBBB;
    font-family: 'Outfit', sans-serif;
}

.container-header{
    padding: 30px 0;
    width: 940px;
}

.nav-header{
padding-top: 0;
padding-bottom: 0;
}

header li{
    display: inline;
    margin: 0 0 0 15px;
}

header nav a {
    text-transform: uppercase;
    color:black;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:white;
    text-decoration: underline;
}

main{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1{
    background: white;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}
.container{
    height: 100%;
    display: flex;
}

#ferramentas{
     display: flex;
     flex-direction: column;
     padding: 5px;
     width: 100px;
     background-color: #202020;
}

#ferramentas *{
    margin-bottom: 10px;
}

#ferramentas label{
    font-size: 15px;
}

#ferramentas input{
    width: 100%;
}

#ferramentas button{
    background-color:green;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}